<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61816327700-vn2tcs9smeihmkdk0e8unac7balcgibh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61816327700-vn2tcs9smeihmkdk0e8unac7balcgibh</string>
	<key>API_KEY</key>
	<string>AIzaSyDj8891ipHj1P6d8GeAGU_vO8cR3bgEGac</string>
	<key>GCM_SENDER_ID</key>
	<string>61816327700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jennyrm.Meal-Likey</string>
	<key>PROJECT_ID</key>
	<string>meal-likey</string>
	<key>STORAGE_BUCKET</key>
	<string>meal-likey.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61816327700:ios:488ffdbe1008c323d8a101</string>
</dict>
</plist>